<mat-card>
    <mat-card-header>
      <mat-card-title>Pregunta 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Monto del Préstamo</mat-label>
        <input matInput type="number" [(ngModel)]="montoPrestamo">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="calcularCuotas()">Calcular</button>
      <div *ngIf="mostrarResultado">
        <mat-card class="result-card">
          <mat-card-content>
            <p>El préstamo se pagará en <strong>{{ numeroCuotas }}</strong> cuotas de <strong>{{ valorCuota | currency }}</strong> cada una.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
  